<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBA3BzQOlvLkIVxPu2Xl4bKOd95ppBVhe0</string>
	<key>GCM_SENDER_ID</key>
	<string>332292498207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-34.FoodDelivery</string>
	<key>PROJECT_ID</key>
	<string>fooddelivery-fec8d</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddelivery-fec8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332292498207:ios:6db03a8078b2e27773462a</string>
</dict>
</plist>